
.banner {
	position: relative;
	height: 750px;
	background: url(../img/img-27.png) no-repeat top center;
	background-size: 150%;
}
.container2{
	position: absolute;
	top:305px;
	right: 320px;
	width: 384px;
	background-color: #ffffff;
}
/*.container {
	position: absolute;
	top: 105px;
	left: 1145px;
	width: 484px;
	background-color: #ffffff;
}*/

.header {
	padding-top: 35px;
	padding-left: 69px;
	font-size: 18px;
	width: 295px;
	margin: 0 auto;
}
.phoneResiter a:hover{
	color:#B4A078 ;
}
.login_box a:hover{
	color:#ffffff ;
}
.phoneResiter a {
	text-decoration: none;
	color: #333;
}
.getcode a:hover{
	color: #333;
}
.code_img img{
	position: absolute;
	top: 110px;
	right: 60px;
	width: 50px;
	display: none;
}
.code_img span{
	position: absolute;
	top: 107px;
	right: 20px;
	
	display: none;
}
.emailResiter a {
	text-decoration: none;
	color: #333;
}

.loginResiter a {
	text-decoration: none;
	color: #333;
}

.footer a {
	text-decoration: none;
	color: #999999;
}

.login_box a {
	
	text-decoration: none;
	color: #ffffff;
	outline: none;
}

.phoneResiter {
	font-size: 18px;
	width: 118px;
}

.emailResiter {
	margin-top: 5px;
	margin-left: 30px;
	font-size: 12px;
	width: 48px;
}

.loginResiter {
	margin-top: 5px;
	margin-left: 20px;
	font-size: 12px;
	width: 48px;
}

.fl {
	float: left;
}

.rl {
	float: right;
}

.clear {
	clear: both;
}

.jigsaw {
	margin-top: 15px;
	margin-left: 44px;
	width: 298px;
	height: 36px;
	font-size: 14px;
	border: 1px solid #e8e8e8;
	line-height: 36px;
	border-radius: 2px;
	background-color: #f7f9fa;
}

.right {
	padding:0;
	background-color: #FFFFFF;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
}

.right img {
	margin: -5px 0px;
}

.text {
	margin-left: 57px;
	margin-top: 1px;
}

.input_box {
	margin-top: 40px;
	margin-left: 44px;
	width: 298px;
	height: 36px;
	border: 1px solid #e8e8e8;
	line-height: 36px;
	border-radius: 2px;
	outline: none;
}

.input_box2 {
	margin-top: 15px;
	margin-left: 44px;
	width: 298px;
	height: 36px;
	border: 1px solid #e8e8e8;
	line-height: 36px;
	border-radius: 2px;
}

.left {
	height: 24px;
	width: 20px;
	padding: 7px 7px;
	
}
.left2 {
	height: 25px;
	width: 29px;
	padding: 7px 4px 7px 7px;
}
.line2 {
	width: 1px;
	height: 24px;
	background: #ddd;
	margin-top: 7px;
}

.tel input {
	height: 36px;
	margin-top: 0px;
	margin-left: 8px;
	width: 222px;
	font-size: 14px;
	background: #fff;
	color: #333;
	border: 0;
	outline: none;
}

.code {
	position: relative;
	margin-top: 15px;
	margin-left: 44px;
	width: 298px;
	height: 36px;
	border: 1px solid #e8e8e8;
	line-height: 36px;
	border-radius: 2px;
}

.code input {
	height: 36px;
	margin-top:0px;
	margin-left: 8px;
	width: 192px;
	font-size: 14px;
	background: #fff;
	color: #333;
	border: 0;
	outline: none;
}

.getcode {
	
	background-color: #eee;
	width: 88px;
	padding: 0px 5px;
	
}

.getsmscode {
	padding-left: 8px;
	color: #333;
	text-decoration: none;
	font-size: 14px;
}

.login_box {
	width: 300px;
	height: 48px;
	margin-bottom: 11px;
	margin: 53px 45px;
	margin-bottom: 10px;
	padding-bottom: 8px;
	outline: none;
	color: #fff;
	background: #b4a078;
	font-size: 18px;
	line-height: 61px;
	border-radius: 2px;
	text-align: center;
	outline: none;
	cursor: pointer;
}

.footer {
	font-size: 12px;
	margin: 0px 51px;
	color: #999999;
	padding-bottom: 100px;
}

.Validform_checktip {
	line-height: 20px;
	/* height: 20px; */
	overflow: hidden;
	color: #999;
	font-size: 12px;
}

.input_box .Validform_wrong {
	position: absolute;
	top:295px;
	left: 50px;
	width: 298px;
	height: 35px;
	color: #d62e3b;
	font-size: 12px;
	display: inline-block;
	line-height: 35px;
}
.input_box2 .Validform_wrong {
	position: absolute;
	top: 316px;
	left: 50px;
	width: 298px;
	height: 35px;
	color: #d62e3b;
	font-size: 12px;
	display: inline-block;
	line-height: 35px;
}


.Validform_right {
	display: none;
}